@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background: white;
  user-select: none !important;
}

/*
  Custom styling overrides for react-calendar popup
  utilising the tailwind tokens. see
  https://tailwindcss.com/docs/adding-custom-styles#adding-component-classes
*/
@layer components {
  /* Whole calendar container */
  .react-calendar {
    @apply pt-2 pb-4 px-4 border border-arcx-gray-300 rounded-lg font-inter w-64 !important;

    *:hover, *:focus {
      @apply bg-inherit !important;
    }

    .react-calendar__navigation {
      @apply h-auto p-2 mb-2 !important;
    }

    .react-calendar__navigation__next-button,
    .react-calendar__navigation__prev-button {
      @apply min-w-0 !important;

      img {
        @apply w-4 h-4 !important;
      }
    }

    .react-calendar__navigation__next-button {
      @apply order-2 !important;
    }

    .react-calendar__navigation__prev-button {
      @apply order-1 !important;
    }

    /* The label which displays at the top of the cal */
    .react-calendar__navigation__label {
      @apply text-sm font-medium text-arcx-gray-100 grow-0 mr-auto flex items-center !important;

      &::after {
        content: url(/arrow.svg);

        @apply w-4 h-4 rotate-[270deg] inline-block ml-2 !important;
      }
    }

    /* The day label for sun-mon */
    .react-calendar__month-view__weekdays__weekday,
    .react-calendar__month-view__weekdays__weekday--weekend {
      @apply text-arcx-gray-600 font-medium !important;

      abbr {
        @apply no-underline !important;
      }
    }

    /* Tile for day, month, and year */
    /* text-arcx-gray-600 */
    .react-calendar__tile {
      @apply text-xs leading-normal p-0 !important;

      /* Tiles outside the available range */
      &:disabled {
        @apply bg-arcx-gray-200 !important;
      }

      /* Today */
      &.react-calendar__tile--now {
        @apply bg-inherit text-inherit;

        &:hover {
          @apply bg-inherit text-inherit;
        }
      }

      &.react-calendar__tile--rangeStart,
      &.react-calendar__tile--rangeEnd {
        @apply bg-white !important;
      }

      &.react-calendar__tile--rangeStart,
      &.react-calendar__tile--rangeStart.react-calendar__tile--hover,
      &.react-calendar__tile--hoverStart {
        @apply rounded-s-2xl bg-arcx-purple-100 !important;

        abbr {
          @apply bg-arcx-purple-500 rounded-2xl text-white !important;
        }
      }

      &.react-calendar__tile--rangeEnd:not(.react-calendar__tile--rangeStart),
      &.react-calendar__tile--rangeEnd.react-calendar__tile--hover:not(.react-calendar__tile--rangeStart),
      &.react-calendar__tile--hoverEnd:not(.react-calendar__tile--rangeStart) {
        @apply rounded-e-2xl bg-arcx-purple-100 !important;

        abbr {
          @apply bg-arcx-purple-500 rounded-2xl text-white !important;
        }
      }

      /* Day tile */
      &.react-calendar__month-view__days__day {
        /* @apply flex justify-center content-center; */

        abbr {
          @apply block w-8 h-8 py-0 px-2 flex items-center justify-center !important;
        }
      }

      /* Weekend day tile */
      &.react-calendar__month-view__days__day--weekend {
        @apply text-inherit !important;

        &:disabled {
          @apply text-arcx-gray-450 !important;
        }
      }


      /* Month and year tile */
      &.react-calendar__decade-view__years__year,
      &.react-calendar__year-view__months__month {
        @apply py-2 rounded-2xl !important;

        &:hover {
          @apply bg-arcx-purple-100 !important;
        }
      }

      /* &.react-calendar__year-view__months__month {
        @apply bg-arcx-purple-500;
      } */

      /* Month tile */
      /* &.react-calendar__year-view__months__month {
        {}
      } */

      /* Selected tile */
      &.react-calendar__tile--range abbr {
        @apply bg-arcx-purple-100 text-arcx-gray-600 !important;
      }

      &.react-calendar__tile--hover {
        @apply bg-arcx-purple-100 !important;
      }
    }
  }
}

/* react-calendar__tile--range react-calendar__tile--rangeStart react-calendar__tile--rangeEnd react-calendar__tile--rangeBothEnds react-calendar__month-view__days__day */
